<div data-role="view" data-title="View" data-layout="main" data-model="app.teamMembers" data-show="app.teamMembers.onShow" data-after-show="app.teamMembers.afterShow" id="teamMembersScreen" class="screen">
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.teamMembers.title"></span>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_teamMembers -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_teamMembers -->
    <ul class="masterDetailView multilineImage  " data-role="listview" data-auto-bind="false" data-style="inset" data-template="teamMembersModelTemplate" data-bind="source: teamMembersModel.dataSource, events: {click: teamMembersModel.itemClick}" data-pull-to-refresh="true"
    data-endless-scroll="false">
    </ul>


    <!-- START_CUSTOM_CODE_teamMembersModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_teamMembersModel -->
    <script type="text/x-kendo-template" id="teamMembersModelTemplate">
        <div class="image-with-text image-on-right">
            # data = app.teamMembers.teamMembersModel.fixHierarchicalData(data); #

            <img src="#: data['PhotosUrl'] #">
            <h3>#: data['Name'] #</h3>
            <p>#: data['Surname'] #</p>
        </div>
    </script>
</div>